body{
    margin: 0;
    background: #1b2436;
    font-family: "Lato", sans-serif;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    background: #1b2436;
    padding: 30px;
    border-radius: 15px;
    box-shadow: -3px -6px 14px 4px rgb(255 255 255 / 10%), 7px 5px 15px 10px rgb(0 0 0 / 5%);
}
.num_item{
    display: flex;
    justify-content: space-between;
}
.num_item button{
    flex: 1;
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    background: transparent;
    box-shadow: -3px -6px 14px 4px rgb(255 255 255 / 10%), 7px 5px 15px 10px rgb(0 0 0 / 5%);
    color: #fff;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}
.showinput{
   width: 100%; 
   margin-bottom: 30px;
}
.showinput input{
    height: 60px;
    letter-spacing: 5px;
    background-color: transparent;
    box-shadow: 0px 0px 14px 4px rgb(255 255 255 / 10%), 7px 5px 15px 10px rgb(0 0 0 / 5%);
    width: calc(100% - 40px);
    font-size: 20px;
    border: 0;
    text-align: right;
    border-radius: 50px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto", sans-serif;
    background: transparent;
}
.showinput input:focus{
    outline: none;
}


.showinput input::placeholder{
    color: #fff;
}